<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Public chat:
      </div>
      <div class="card-body">
        <div *ngFor="let message of messages">
          <div class="incomming_msg" *ngIf="message.type == 'received'">
            {{message.messageText}}
          </div>
          <div class="outgoing_msg" *ngIf="message.type == 'sent'">
            {{message.messateText}}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <form class="form-inline" (ngSubmit)="sendMessage(message)">
          <div class="form-group col-sm-9">
            <input type="text" class="form-control" name="messageText" [(ngModel)]="message.messageText" required />
          </div>
          <div class="form-group col-sm-3">
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .incomming_msg {
      background-color: aqua;
      
  }
</style>
